.rectangle{
    height:16rem;
    width:8rem;
   background-color:orange;
   margin: auto;
   margin-top: -2px;
   padding-top: -40px;
   border:2px solid black;
}
.rectangle1{
    height:6rem;
    width:12rem;
   background-color:orange;
   margin: auto;
  margin-top: 0px;
   padding-top: -40px;
   border:2px solid black;
}
.rectangle2{
    height:12rem;
    width:10.5rem;
   background-color:black;
   margin: auto;
  margin-top: -14px;
   padding-top: -40px;
}
.container {
    height: 200px;
    position: relative;
  }
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
button{
    margin:39rem 37rem 0 38rem;
    border:2px solid black;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(247, 211, 134);
}
button#btn2{
    margin:35rem 37rem 0 38rem;
    border:2px solid black;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(247, 211, 134);
}
button:hover,button:focus{
    cursor: pointer;
    background-color: rgb(229, 255, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button#btn2:hover,button#btn2:focus{
    cursor: pointer;
    background-color: rgb(229, 255, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: black;
}
h2,h4{
    color:white;
    text-align: center;

}
